body {
    background: rgb(red, rgb(154, 154, 154), blue)
}

/* UPPER PART */

.uppercontainer {
    background: linear-gradient(to bottom , rgb(19, 19, 255) , rgb(39, 129, 255));
    padding-left: 10px;
    position: relative;
    height: 370px;
    display: flex;
    justify-content: center;
    width: 1528px;
    right: 10px
}

.upper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upper li {
    position: relative;
    z-index: 1;
    list-style-type: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.upper h1 {
    position: relative;
    font-size:80px;
    bottom: 40px
}

.upper label {
    font-size: 30px;
    -webkit-text-stroke: px;
    position: relative;
    bottom: 60px
}

.button {
    position: absolute;
    width: 270px;
    height: 50px;
    z-index: 1;
    top: 270px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    border-radius: 10px;
}
/* HEADER */

.header-watermark1 {
    position: absolute;
    z-index: 0;
    left: 2px;
    bottom: 6px
}

.header-watermark1 h1 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: black 1px;
    font-size: 100px;
    margin: 0px;
    opacity: 0.2;
}

.header-watermark2 {
    position: absolute;
    z-index: 0;
    left: 800px;
    bottom: 6px
}

.header-watermark2 h1 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: black 1px;
    font-size: 100px;
    margin: 0px;
    opacity: 0.2;
    cursor: default;
}

/* NAVIGATION BAR*/

.navigation-bar {
    background: linear-gradient(
        to top,
        rgb(19, 19, 255) ,
        #346dfb 50px,
        rgb(52, 68, 255) 100%
    );
    height: 60px;
    margin-top: -20px;
    width: 1548px;
    position: relative;
    right: 20px;
}

.navigation-bar ul {
    display: flex;
    height: 100px;
    justify-content: center;
    align-content: center;
    position: relative;
    gap: 400px;
    right: 20px
}

.navigation-bar ul li a {
    color: black;
    position: relative;
    top: 23px;
    font-size: 30px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    z-index: 1
}

.navigation-bar ul li {
    list-style-type: none;
    cursor: pointer;
}

.navigation-bar ul li a:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 4px;
}

/* LOWER PART */

.lowercontainer {
    position: absolute;
    height:255px;
    left: 0px;
    width: 1536px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(
        to bottom,
        rgb(39, 129, 255) 10%,
        rgb(187, 187, 187)) 5%,
        rgb(255, 255, 255) 100%;
}

.lower {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px black;
}

.lower h1 {
    font-size: 55px;
    -webkit-text-stroke: 0.5px black;
}

.lower label {
    font-size: 30px;
}

.strong {
    font-weight: bold;
}

